<ion-list *ngFor="let td of tdList; let i=index">
    <button ion-item (click)="goToPage(td)">
    {{ td.name }}   Tâches à terminer : {{ countUnfinishedTask(td)}}
                
    </button>
    <button ion-item (click)="showPromptEdit(td)">Editer</button><button ion-item (click)="delete(td.uuid)">Supprimer</button>

</ion-list>

<button (click)="showPrompt()">Ajouter une liste</button>

<div *ngIf="userBool">
    <button (click)="login()">Login google</button>
</div>
<div *ngIf="!userBool">
    <button (click)="login()">Changer de login google</button>
</div>