<!-- Generated template for the TodoItemComponent component -->
<div>
    {{item.name}}
    <ion-card *ngFor="let todo of item.items">
        <ion-card-header>{{todo.name}} </ion-card-header>
        <ion-card-content>{{todo.desc}} Terminé :
            <input type="checkbox" [checked]="todo.complete" (click)="changeState(todo,todo.complete)">
        </ion-card-content>
        <button ion-button color="secondary" (click)="showPromptEdit(todo)">Editer</button>
        <button ion-button color="danger" (click)="delete(todo)">Supprimer</button>
    </ion-card>

</div>
<button ion-button (click)="showPrompt()">Ajouter un TODO</button>
<button ion-button color="dark" (click)="goBack()">Retour</button>